* {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-marker-icon {
  filter: grayscale(1);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #242424;
  color: #ffffffdd;
}

.leaflet-popup-content p {
  margin: 10px 0;
}
